@charset "UTF-8";
/* flex containers에 적용 */
/* flex items에 적용 */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  min-height: 100%;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: PretendardR, "Malgun Gothic", "맑은고딕", "Apple SD Gothic Neo", Dotum, "돋움", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

/* Nanum Barun Gothic */
/* Nanum Barun Gothic */
@font-face {
  font-family: "PretendardL";
  font-style: normal;
  font-weight: 300;
  src: url("../font/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "PretendardR";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "PretendardM";
  font-style: normal;
  font-weight: 500;
  src: url("../font/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "PretendardSB";
  font-style: normal;
  font-weight: 600;
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "PretendardB";
  font-style: normal;
  font-weight: 700;
  src: url("../font/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "PretendardBL";
  font-style: normal;
  font-weight: 800;
  src: url("../font/Pretendard-Black.woff") format("woff");
}
@font-face {
  font-family: "PretendardV";
  font-style: normal;
  font-weight: normal;
  src: url("../font/PretendardVariable.woff2") format("woff2");
}
/* flex containers에 적용 */
/* flex items에 적용 */
.wrap-parallax-1 .section {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #111;
}
.wrap-parallax-1 .section .jarallax {
  position: relative;
  height: 100%;
  z-index: 0;
}
.wrap-parallax-1 .section .jarallax-img {
  vertical-align: top;
}
.wrap-parallax-1 .section .title-box {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.wrap-parallax-1 .section .title-box .title + .dummy-desc {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  white-space: pre-line;
  text-align: center;
}
.wrap-parallax-1 .section .title {
  width: 100%;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: #fdfbfb;
  text-shadow: rgb(54, 12, 1) 3px 0 10px;
}
.wrap-parallax-1 .section .dummy-desc {
  overflow: hidden;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  color: #ecebeb;
}
.wrap-parallax-1 .section .dummy-desc + .dummy-desc {
  margin-top: 10px;
}
.wrap-parallax-1 .section .dummy-desc .bar {
  float: left;
  width: 4px;
  height: 36px;
  margin: 7px 10px 5px 6px;
  background-color: #9b9696;
}
.wrap-parallax-1 .section .divider {
  display: block;
  width: 150px;
  height: 1px;
  margin: 40px auto;
  background-color: #fdfbfb;
  text-align: center;
}
.wrap-parallax-1 .section.section-01 {
  height: 100vh;
}
.wrap-parallax-1 .section.section-02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  padding: 70px 0;
  box-sizing: border-box;
}
.wrap-parallax-1 .section.section-02 .box {
  max-width: 1140px;
  width: 70%;
  text-align: center;
}
.wrap-parallax-1 .section.section-03 {
  height: 100vh;
}
.wrap-parallax-1 .section.section-03 .title {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrap-parallax-1 .section.section-03 .box {
  width: 100%;
  height: 100%;
}
.wrap-parallax-1 .section.section-03::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.wrap-parallax-1 .section.section-04 {
  height: 100vh;
  padding: 100px 0;
  box-sizing: border-box;
}
.wrap-parallax-1 .section.section-04 .title {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrap-parallax-1 .section.section-04 .box {
  width: 100%;
  height: 100%;
}
.wrap-parallax-1 .section.section-05 {
  height: 100vh;
}
.wrap-parallax-1 .section.section-05 .box {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
}
.wrap-parallax-1 .section.section-05 .dummy-desc {
  white-space: pre-line;
  font-size: 22px;
  line-height: 2.5;
  text-align: center;
  opacity: 1;
}
.wrap-parallax-1 .section.section-05::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
}
.wrap-parallax-1 .section.section-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50vh;
}
.wrap-parallax-1 .section.section-footer .dummy-desc {
  max-width: 1000px;
  width: 70%;
  text-align: center;
}

@media (max-width: 767px) {
  .wrap-parallax-1 .section .title-box {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .wrap-parallax-1 .section .title-box .title {
    font-size: 32px;
  }
  .wrap-parallax-1 .section .title-box .title + .dummy-desc {
    margin-top: 15px;
    font-size: 14px;
  }
  .wrap-parallax-1 .section .title {
    font-size: 32px;
  }
  .wrap-parallax-1 .section .dummy-desc {
    font-size: 13px;
    line-height: 22px;
  }
  .wrap-parallax-1 .section .dummy-desc + .dummy-desc {
    margin-top: 10px;
  }
  .wrap-parallax-1 .section .dummy-desc .bar {
    width: 3px;
    height: 30px;
  }
  .wrap-parallax-1 .section .divider {
    width: 100px;
    margin: 30px auto;
  }
  .wrap-parallax-1 .section.section-02 {
    padding: 50px 20px;
  }
  .wrap-parallax-1 .section.section-02 .box {
    width: 100%;
  }
  .wrap-parallax-1 .section.section-03 {
    height: 80vh;
  }
  .wrap-parallax-1 .section.section-04 {
    height: 70vh;
    padding: 20px;
  }
  .wrap-parallax-1 .section.section-05 {
    height: 80vh;
  }
  .wrap-parallax-1 .section.section-05 .box {
    width: 100%;
  }
  .wrap-parallax-1 .section.section-05 .dummy-desc {
    font-size: 15px;
    line-height: 28px;
  }
  .wrap-parallax-1 .section.section-footer {
    height: auto;
    padding: 50px 20px;
    box-sizing: border-box;
  }
  .wrap-parallax-1 .section.section-footer .dummy-desc {
    width: 100%;
  }
}
/* flex containers에 적용 */
/* flex items에 적용 */
.wrap-parallax-2 {
  height: 100%;
  min-height: 100%;
  background-color: #f3f1f5;
  font-size: 14px;
}
.wrap-parallax-2 .wrap {
  height: 100%;
}
.wrap-parallax-2 .section {
  height: 100%;
  min-height: 100%;
}
.wrap-parallax-2 .section01 {
  position: relative;
  background-color: #000;
}
.wrap-parallax-2 .section01 .jarallax {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap-parallax-2 .section01::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.wrap-parallax-2 .section01 .title-box {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 10px #000;
  color: #dfd9d0;
}
.wrap-parallax-2 .section01 .title-box .title-desc {
  margin-top: 20px;
  font-size: 0.7em;
}
.wrap-parallax-2 .section02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10% 0;
  background-color: #d6cec1;
  box-sizing: border-box;
}
.wrap-parallax-2 .section02 .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 94%;
  box-sizing: border-box;
}
.wrap-parallax-2 .section02 .box .swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.wrap-parallax-2 .section02 .box .swiper-slide {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 14px #000;
}
.wrap-parallax-2 .section02 .box .swiper-slide .title {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2.3em;
  color: #f5bc66;
  text-shadow: 1px 1px 4px #000;
}
.wrap-parallax-2 .section02 .box .swiper-slide .img-box {
  width: 100%;
  height: 100%;
}
.wrap-parallax-2 .section02 .box .swiper-slide::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
}
.wrap-parallax-2 .section02 .box .text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  max-height: 100%;
  height: 100%;
  padding: 20px 20px 20px 3%;
  box-sizing: border-box;
}
.wrap-parallax-2 .section02 .box .text-wrap .title {
  display: block;
  width: 100%;
  font-size: 2.6em;
  line-height: 1.5;
  color: #1b1b1b;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.wrap-parallax-2 .section02 .box .text-wrap .sub-title {
  display: block;
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
  color: #2d2d2d;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.wrap-parallax-2 .section02 .box .text-wrap .desc {
  margin-top: 15px;
  font-size: 1.1em;
  line-height: 28px;
  color: #000;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.wrap-parallax-2 .section02 .box .text-wrap .desc + .desc {
  margin-top: 15px;
}
.wrap-parallax-2 .section03 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  min-height: unset;
  max-height: 1080px;
  width: 100%;
  height: auto;
  padding: 100px 0 0;
  background: #2d2d2d;
  box-sizing: border-box;
}
.wrap-parallax-2 .section03 .title {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-left: 50px;
  font-size: 4em;
  line-height: 1.5;
  word-break: keep-all;
  overflow-wrap: break-word;
  color: #dfd9d0;
  text-shadow: 0 0 2px #000;
  box-sizing: border-box;
}
.wrap-parallax-2 .section03 .title::after {
  position: absolute;
  left: 0;
  top: 20px;
  width: 8px;
  height: 50px;
  background-color: #8a6d6d;
  content: "";
}
.wrap-parallax-2 .section03 .title-desc {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
  padding-left: 40px;
  font-size: 1.2em;
  line-height: 1.5;
  word-break: keep-all;
  overflow-wrap: break-word;
  color: #dfd9d0;
  text-shadow: 0 0 2px #000;
  box-sizing: border-box;
}
.wrap-parallax-2 .section03 .swiper-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 40px;
  transition: transform 0.3s ease;
  background-color: #000;
}
.wrap-parallax-2 .section03 .card-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap-parallax-2 .section03 .card-area::after {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
.wrap-parallax-2 .section03 .swiper-slide {
  position: relative;
}
.wrap-parallax-2 .section03 .swiper-slide:not(.swiper-slide-active) .text_wrap {
  opacity: 0;
  transition: 0.4s;
}
.wrap-parallax-2 .section03 .swiper-slide .text_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrap-parallax-2 .section03 .swiper-slide .desc {
  transition: opacity 0.4s;
  font-size: 1.1em;
  white-space: pre-line;
  text-align: center;
  word-break: keep-all;
  overflow-wrap: break-word;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.wrap-parallax-2 .section03 .swiper-slide.swiper-slide-active .text_wrap {
  opacity: 1;
  transition: opacity 1s 0.7s;
}
.wrap-parallax-2 .section04 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: auto;
  padding: 100px 0 0;
  box-sizing: border-box;
}
.wrap-parallax-2 .section04 .title {
  display: block;
  position: relative;
  width: calc(100% - 50px);
  padding-left: 40px;
  margin-left: 50px;
  font-size: 4em;
  line-height: 1.5;
  text-align: left;
  word-break: keep-all;
  overflow-wrap: break-word;
  color: #2d2d2d;
  text-shadow: 1px 1px 2px #000;
  box-sizing: border-box;
}
.wrap-parallax-2 .section04 .title::after {
  position: absolute;
  left: 0;
  top: 20px;
  height: 50px;
  width: 8px;
  background-color: #1c245b;
  content: "";
}
.wrap-parallax-2 .section04 .swiper {
  position: relative;
  overflow: hidden;
  width: calc(100% - 100px);
  height: 600px;
  min-height: 600px;
  margin-top: 30px;
  padding: 0 10px;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}
.wrap-parallax-2 .section04 .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  width: 25%;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
}
.wrap-parallax-2 .section04 .swiper-slide .img-box {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(50% - 10px);
  border-radius: 4px;
  box-shadow: 0 0 10px 0 #000;
}
.wrap-parallax-2 .section04 .swiper-slide .img-box::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.wrap-parallax-2 .section04 .swiper-slide .img-box:nth-child(2n) {
  margin-top: 20px;
}
.wrap-parallax-2 .section04 .swiper-slide .img-box .jarallax-container {
  transition: 0.5s;
  transform: scale(1);
}
.wrap-parallax-2 .section04 .swiper-slide .img-box:hover .jarallax-container {
  transform: scale(1.1);
  transition: 0.5s;
}
.wrap-parallax-2 .section04 .swiper-slide .img-box:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
.wrap-parallax-2 .section05 {
  position: relative;
  width: 100%;
  padding: 30px 20px 0;
  box-sizing: border-box;
}
.wrap-parallax-2 .section05 .content_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap-parallax-2 .section05 .jarallax {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap-parallax-2 .section05 .title {
  display: block;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 4.5em;
  text-align: center;
  color: #2d2d2d;
  text-shadow: 2px 2px 3px #fff;
}
.wrap-parallax-2 .jarallax .jarallax-img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.wrap-parallax-2 .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 400px;
  background-color: #2d2d2d;
}
.wrap-parallax-2 .footer .desc {
  white-space: pre-line;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .wrap-parallax-2 .section04 .swiper .swiper-slide .img-box::after {
    display: none;
  }
  .wrap-parallax-2 .section04 .swiper .swiper-slide .img-box .jarallax-container {
    transform: scale(1);
  }
  .wrap-parallax-2 .section04 .swiper .swiper-slide .img-box:hover .jarallax-container {
    transform: scale(1);
  }
}
@media screen and (max-width: 767px) {
  body.wrap-parallax-2 {
    font-size: 10px;
  }
  .wrap-parallax-2 .section01 .title {
    font-size: 1.4em;
  }
  .wrap-parallax-2 .section02 {
    padding: 50px 20px;
  }
  .wrap-parallax-2 .section02 .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .wrap-parallax-2 .section02 .box .swiper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .wrap-parallax-2 .section02 .box .swiper-slide .title {
    display: block;
    width: 100%;
  }
  .wrap-parallax-2 .section02 .box .text-wrap {
    padding-left: 10px;
    margin-top: 30px;
  }
  .wrap-parallax-2 .section02 .box .text-wrap .title {
    font-size: 2.1em;
  }
  .wrap-parallax-2 .section02 .box .text-wrap .sub-title {
    font-size: 15px;
  }
  .wrap-parallax-2 .section02 .box .text-wrap .desc {
    margin-top: 12px;
    font-size: 13px;
  }
  .wrap-parallax-2 .section02 .box .text-wrap .desc + .desc {
    margin-top: 8px;
  }
  .wrap-parallax-2 .section03 {
    max-height: 700px;
    padding: 50px 0 0;
  }
  .wrap-parallax-2 .section03 .title {
    margin-left: 20px;
    padding-left: 30px;
    font-size: 3em;
  }
  .wrap-parallax-2 .section03 .title::after {
    width: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap-parallax-2 .section03 .title-desc {
    padding-left: 30px;
    margin-left: 20px;
    font-size: 14px;
  }
  .wrap-parallax-2 .section03 .swiper-card {
    height: 450px;
    margin-top: 30px;
  }
  .wrap-parallax-2 .section03 .swiper-slide .text_wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .wrap-parallax-2 .section03 .swiper-slide .desc {
    display: block;
    width: 100%;
    white-space: unset;
    font-size: 14px;
    line-height: 1.5;
  }
  .wrap-parallax-2 .section04 {
    min-height: 600px;
    padding: 50px 0;
  }
  .wrap-parallax-2 .section04 .title {
    margin-left: 20px;
    padding-left: 30px;
    font-size: 3em;
  }
  .wrap-parallax-2 .section04 .title::after {
    width: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap-parallax-2 .section04 .swiper {
    width: calc(100% - 40px);
    max-height: 500px;
  }
  .wrap-parallax-2 .section04 .swiper-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    width: 50%;
    text-align: center;
  }
  .wrap-parallax-2 .section05 {
    padding: 0;
  }
  .wrap-parallax-2 .section05 .title {
    font-size: 4em;
  }
  .wrap-parallax-2 .footer {
    padding: 0 20px;
  }
  .wrap-parallax-2 .footer .desc {
    font-size: 13px;
    white-space: unset;
  }
}