<!DOCTYPE html><html lang="ko"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	
	<title>캔버스의 기초</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/components.css">
</head>

<body data-pagestatus="new : 2024.10.21">
	<div class="wrap">
		<!--S: HEADER -->
		<header>
			<!-- Navigation -->
			<nav></nav>
			<!-- // Navigation -->
		</header>
		<!--E: HEADER -->
		<style>
		* {
			margin: 0;
			padding: 0;
		}

		html,
		body {
			width: 100%;
			height: 100%;
		}

		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #555;
		}

		canvas {
			margin-top: 20px;
			background-color: #eee;
		}

		p {
			margin-top: 5px;
			font-size: 14px;
		}

		h1 {
			margin: 10px 0;
		}

		</style>
		<h1>SetInterval</h1>
		<p>60/1000 : 1초에 60프레임설정</p>
		<p>1초에 draw 함수가 60번씩 실행된다. <br>브라우저가 준비가 안된상태에서도 일단 실행하므로 <br>퍼포먼스가 매끄럽지 못할 수 있다.</p>
		<canvas width="500" height="300">이 브라우저는 캔버스를 지원하지 않습니다.</canvas>
		<script>
		const canvas = document.querySelector('canvas');
		const context = canvas.getContext('2d');
		let xPos = 10;

		function draw() {
		  context.clearRect(0, 0, canvas.width, canvas.height);
		  context.beginPath();
		  context.arc(xPos, 150, 10, 0, Math.PI * 2, false);
		  context.fill();
		  if (xPos > canvas.width) {
		    xPos = 0;
		  } else {
		    xPos += 3;
		  }
		  console.log("draw함수 실행");
		}
		setInterval(draw, 60 / 1000);

		</script>
		<!--S: FOOTER -->
		<footer class="footer">
			<p class="footer-desc">©2024. YOORA All Rights Reserved.</p>
		</footer>
		<!--E: FOOTER -->
	</div>



</body></html>