<!DOCTYPE html><html lang="ko"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	
	<title>캔버스의 기초</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/components.css">
</head>

<body data-pagestatus="new : 2024.10.21">
	<div class="wrap">
		<!--S: HEADER -->
		<header>
			<!-- Navigation -->
			<nav></nav>
			<!-- // Navigation -->
		</header>
		<!--E: HEADER -->
		<h1>Video</h1>
		<video class="video" src="../../video/video-3.mp4" autoplay="" muted="" loop=""></video>
		<canvas width="480" height="324">이 브라우저는 캔버스를 지원하지 않습니다.</canvas>
		<style>
		* {
			margin: 0;
			padding: 0;
		}

		body {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		h1 {
			margin-bottom: 50px;
		}

		canvas {
			background-color: #f5f5f5;
		}

		.video {
			position: absolute;
			width: 0;
			height: 0;
		}

		</style>
		<script>
		const canvas = document.querySelector('canvas');
		const context = canvas.getContext('2d');
		context.font = 'bold 20px serif';
		context.fillStyle = 'white';

		const videoElem = document.querySelector('.video');
		videoElem.addEventListener('canplaythrough', render);

		//time = 초
		const messages = [{
		    time: 1,
		    message: '첫번째자막~~',
		    x: 100,
		    y: 100
		  },
		  {
		    time: 3,
		    message: '두번째자막~~',
		    x: 170,
		    y: 150
		  },
		  {
		    time: 5,
		    message: '세번째자막~~',
		    x: 50,
		    y: 200
		  }
		]

		function render() {
		  context.drawImage(videoElem, 0, 0, 480, 324);

		  for (let i = 0; i < messages.length; i += 1) {
		    //videoElem.currentTime = 플레이되고 있는 현재 시간.
		    if (videoElem.currentTime > messages[i].time) {
		      context.fillText(messages[i].message, messages[i].x, messages[i].y);
		    }
		  }

		  requestAnimationFrame(render);
		}

		</script>
		<!--S: FOOTER -->
		<footer class="footer">
			<p class="footer-desc">©2024. YOORA All Rights Reserved.</p>
		</footer>
		<!--E: FOOTER -->
	</div>



</body></html>