<!DOCTYPE html><html lang="ko"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	
	<title>캔버스의 기초</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/components.css">
</head>

<body data-pagestatus="new : 2024.10.21">
	<div class="wrap">
		<!--S: HEADER -->
		<header>
			<!-- Navigation -->
			<nav></nav>
			<!-- // Navigation -->
		</header>
		<!--E: HEADER -->
		<style>
		* {
			margin: 0;
			padding: 0;
		}

		body {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		h1 {
			margin-bottom: 50px;
		}

		canvas {
			background-color: #f5f5f5;
		}

		</style>
		<h1>Transform</h1>
		<canvas class="canvas" width="500" height="500"></canvas>
		<script>
		const canvas = document.querySelector('.canvas');
		const context = canvas.getContext('2d');
		// 캔버스의 상태는 스택(stack)에 쌓인다. 
		//save()메소드가 호출될 때마다 현재  drawing 상태가 스택위로 푸쉬된다. (버전으로 저장됨)
		// restore() 호출 횟수에 따라 초반에 save된 버전으로 하나씩 돌아간다 -> 더 전의 save 상태로 돌아간다.
		context.fillRect(100, 100, 200, 200);
		context.fillStyle = 'orange';
		context.fillRect(150, 150, 200, 200);
		// canvas의 모든 상태를 저장
		context.save();
		context.fillStyle = 'blue';
		context.beginPath();
		context.arc(300, 300, 50, 0, Math.PI * 2, false);
		context.fill();
		//가장 최근에 저장된 canvas 상태를 복원 => orange 색깔로 복원됨.
		context.restore();

		context.beginPath();
		context.arc(300, 300, 20, 0, Math.PI * 2, false);
		context.fill();

		</script>
		<!--S: FOOTER -->
		<footer class="footer">
			<p class="footer-desc">©2024. YOORA All Rights Reserved.</p>
		</footer>
		<!--E: FOOTER -->
	</div>



</body></html>