<!DOCTYPE html><html lang="ko"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	
	<title>캔버스의 활용</title>
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/components.css">
</head>

<body data-pagestatus="new : 2024.10.21">
	<!--S: HEADER -->
	<header>
		<!-- Navigation -->
		<nav></nav>
		<!-- // Navigation -->
	</header>
	<!--E: HEADER -->
	<style>
	html, body {
		width: 200%;
		height: 200%;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background-color: #000;
	}

	</style>
	<canvas id="canvas"></canvas>
	<!-- S: Javascript -->
	<script src="../../js/libs/vendor.min.js" defer=""></script>
	<script type="module" src="../../js/apps/canvas/confetti/confetti5.js" defer=""></script>
	<!-- E: Javascript -->



</body></html>