$background1:#fafafa;
$background2:#f5f5f5;
$primary:#39A5D0;
$primary-high1:#EEF8FB;
$primary-high2:#CDE9F3;
$primary-high3:#ACDAEC;
$primary-high4:#8BCBE4;
$primary-high5:#6ABCDC;
$primary-high6:#49ADD4;
$primary-low1:#2F9BC6;
$primary-low2: #2B8EB6;
$primary-low3: #237495;
$primary-low4: #174E63;
$primary-low5: #134153;
$primary-low6: #103442;
$primary-low7: #0C2732;
$primary-low8: #081A21;
$primary-low9: #040D11;

$secondary:#C3465B;
$secondary-high1: #FAF0F1;
$secondary-high2: #F5E0E4;
$secondary-high3: #F0D1D6;
$secondary-high4: #EBC1C8;
$secondary-high5: #E1A3AD;
$secondary-high6: #D78492;
$secondary-high7: #CD6576;
$secondary-low1:#A9374A;
$secondary-low2:#9A3243;
$secondary-low3:#882C3B;
$secondary-low4:#6C232F;
$secondary-low5:#3E141B;
$secondary-low6:#2E0F14;
$secondary-low7:#0f0507;

$green : #37A955;
$green-high1 : #F0FAF2;
$green-high2 : #E0F5E6;
$green-high3 : #D1F0D9;
$green-high4 : #B2E6C0;
$green-high5 : #74D28D;
$green-low1 : #329A4E;
$green-low2 : #2D8B46;
$green-low3 : #287B3E;
$green-low4 : #1E5C2F;
$green-low5 : #143E1F;
$green-low6 : #0F2E17;
$green-low7 : #0A1F10;
$green-low8 : #050F08;

$black: #1F1F1F;
$white: #fff;
$red :#CB1212;
$blue : #012CE9;
$yellow:#FAE827;
$mustard:#D3B42C;
$coral:#F19D96;
$sky:#73BBF1;
$PolynesianBlue:#114682;
$gray:#7E8489;
$purple:#8505DA;
$orange:#F1670A;
