<%-include('./include/head.ejs',{"title" : "캔버스의 기초" , "listTitle" : "비디오 #2 : 캔버스의 기초" })%>
<body data-pagestatus="new : 2024.10.21">
	<div class="wrap">
		<!--S: HEADER -->
		<%-include('./include/header.ejs',{
			header :{
				type:'01',

			}
		})%>
		<!--E: HEADER -->
  <h1>Video</h1>
  <video class="video" src="../../video/video-3.mp4" autoplay muted loop ></video>
  <canvas width="480" height="324">이 브라우저는 캔버스를 지원하지 않습니다.</canvas>
    <style>
    *{margin:0;padding:0;}
    body{height:100vh; display:flex;justify-content:center;align-items:center;flex-direction: column;}
    h1{margin-bottom:50px;}
    canvas{background-color:#f5f5f5;}
    .video{position:absolute;width:0;height:0;}
  </style>
  <script>
    const canvas = document.querySelector('canvas');
    const context = canvas.getContext('2d');
    context.font = 'bold 20px serif';
    context.fillStyle = 'white';
    
    const videoElem = document.querySelector('.video');
    videoElem.addEventListener('canplaythrough', render);
    
    //time = 초
    const messages = [
      {time: 1, message: '첫번째자막~~', x: 100, y: 100},
      {time: 3, message: '두번째자막~~', x: 170, y: 150},
      {time: 5, message: '세번째자막~~', x: 50, y: 200}
    ]
    function render(){
      context.drawImage(videoElem, 0, 0, 480, 324);
      
      for(let i=0; i<messages.length; i+=1){
        //videoElem.currentTime = 플레이되고 있는 현재 시간.
        if(videoElem.currentTime > messages[i].time){
          context.fillText(messages[i].message, messages[i].x, messages[i].y);
        }
      }
      
      requestAnimationFrame(render);
    }
    
  </script>
		<!--S: FOOTER -->
		<%-include('./include/footer.ejs',{
			footer :{
				type: '01',
				year: '2024'
			}
		})%>
		<!--E: FOOTER -->
	</div>

</body>
</html>