<%-include('./include/head.ejs',{"title" : "캔버스의 기초" , "listTitle" : "Transform #2 : 캔버스의 기초" })%>
<body data-pagestatus="new : 2024.10.21">
	<div class="wrap">
		<!--S: HEADER -->
		<%-include('./include/header.ejs',{
			header :{
				type:'01',

			}
		})%>
		<!--E: HEADER -->
  <style>
    *{margin:0;padding:0;}
    body{height:100vh; display:flex;justify-content:center;align-items:center;flex-direction: column;}
    h1{margin-bottom:50px;}
    canvas{
      background-color:#f5f5f5;
    }
    .text_box{width:500px; margin-top:30px;font-size:13px;color:#555;}
    p{word-break: keep-all;}
  </style>
  <h1>Transform-Scale(기준점:중앙)</h1>
  <canvas class="canvas" width="500" height="500"></canvas>
  <div class="text_box">
    <p>캔버스는 기준이 되는 좌표가 0,0(좌상단)이다.</p>
    <p>중앙을 기준으로 하고 싶다면 translate를 이용해서 먼저 기준점을 옮겨주고 드로잉 코드를 작성해야 한다.</p>
  </div>
  <script>
    const canvas=document.querySelector('.canvas');
    const context=canvas.getContext('2d');
    let scaleValue = 1;    
    function draw(){
      context.clearRect(-50,-50, canvas.width, canvas.height)
      context.save();
      // 변환을 초기화 : 
      context.setTransform(1,0,0,1,0,0);
      // 기준이 되는 좌표 x=250, y=250 => 중앙에서 그려짐
      context.translate(250,250);
      // 스케일 1.01
      context.scale(scaleValue, scaleValue);
      scaleValue +=0.01;
      //중앙을 기준으로 커지게 그리기 (x,y좌표를 너비, 높이의 반사이즈만큼 음수값주기.)
      // 250,250, 중앙에서 -50, -50 만큼 반대로 이동한 , 즉 좌표200,200에서 너비100, 높이100,사이즈의 요소가 처음 그려짐
      // 100,100 사이즈의 요소가 스케일이 적용된 사이즈로 연산되어 그려짐.
      context.strokeRect(-50,-50, 100, 100);
      context.restore();
      requestAnimationFrame(draw);
    }
    draw();
    
    
  </script>
		<!--S: FOOTER -->
		<%-include('./include/footer.ejs',{
			footer :{
				type: '01',
				year: '2024'
			}
		})%>
		<!--E: FOOTER -->
	</div>
</body>
</html>