<%-include('./include/head.ejs',{"title" : "캔버스의 활용" , "listTitle" : "Particle - Basic : 캔버스의 활용" })%>
<body data-pagestatus="new : 2024.10.21">
	<div class="wrap">
		<!--S: HEADER -->
		<%-include('./include/header.ejs',{
			header :{
				type:'01',
			}
		})%>
		<!--E: HEADER -->
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    canvas {
      filter: url('#gooey');
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js"
    integrity="sha512-WoO4Ih0CDOSLYafy22wZD/mcJ7k0ESLqtQsFa6zFKnEUrbtuGU+GkLtVhgt93xa2qewG5gKEC6CWlN8OaCTSVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <canvas></canvas>
  <svg>
    <defs>
      <filter id="gooey">
        <feGaussianBlur stdDeviation="15" in="SourceGraphic" result="blur1" />
        <feColorMatrix in="blur1" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 100 -23" />
      </filter>
    </defs>
  </svg>
	</div>
<%-include('./include/script.ejs',{
	jsArray:['canvas/particles/particle-basic']
})%>
</body>
</html>