<%-include('./include/head.ejs',{"title" : "캔버스의 활용" , "listTitle" : "보일러 플레이트 : 캔버스의 활용" })%>
<body data-pagestatus="new : 2024.10.21">
	<div class="wrap">
		<!--S: HEADER -->
		<%-include('./include/header.ejs',{
			header :{
				type:'01',
			}
		})%>
		<!--E: HEADER -->
  <style>
    *{margin:0;padding:0;}
    html,body{width:100%;height:100%;overflow:hidden;}
  </style>
    <canvas></canvas>
	</div>
<%-include('./include/script.ejs',{
	jsArray:['canvas/fireworks/fireworks'],
	module:true
})%>
</body>
</html>