<!DOCTYPE html><html lang="ko"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	
	<title>PARALLAX - Swiper</title>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&amp;family=Noto+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon.png">
	<!-- // Icon & Favicon -->
	<link rel="stylesheet" href="../../css/libs.css">
	<link rel="stylesheet" href="../../css/parallax.css">
</head>

<body data-pagestatus="new : 2024.08.13" class="wrap-parallax-2">
	<div class="wrap">
		<section class="section section01">
			<div class="title-box">
				<h1 class="title">Parallax</h1>
				<p class="title-desc">Scroll And Opacity Effect</p>
			</div>
			<div class="jarallax" data-speed="0.5">
				<img src="../../img/parallax-img/interior-full-bg1.jpg" alt="" class="jarallax-img">
			</div>
		</section>
		<section class="section section02">
			<div class="box">
				<div class="swiper swiper-view">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<strong class="title">Parallax Swiper
                Slide 1
              </strong>
							<div class="img-box jarallax">
								<img src="../../img/parallax-img/interior-1.jpg" alt="" class="jarallax-img">
							</div>
						</div>
						<div class="swiper-slide">
							<strong class="title">Parallax Swiper 
                Slide 2</strong>
							<div class="img-box jarallax">
								<img src="../../img/parallax-img/interior-2.jpg" alt="" class="jarallax-img">
							</div>
						</div>
						<div class="swiper-slide">
							<strong class="title">Parallax Swiper 
                Slide 3</strong>
							<div class="img-box jarallax">
								<img src="../../img/parallax-img/interior-3.jpg" alt="" class="jarallax-img">
							</div>
						</div>
					</div>
				</div>
				<div class="text-wrap">
					<strong class="title">The Evolution and Art of Furniture</strong>
					<span class="sub-title">Crafting Comfort and Culture</span>
					<p class="desc">Furniture, at its core, represents more than mere functional objects within a living space; it embodies the convergence
          of art, culture, and technology through time. This essay delves into the historical evolution of furniture, its roles in
          functionality and aesthetics, the influence of various design movements, and the modern trends shaping the industry
          today.</p>
					<p class="desc">
            During the Renaissance, Europe witnessed a dramatic transformation in furniture design. The era was marked by ornate
            detailing, with furniture becoming a symbol of status and wealth. It was during this period that artisans such as
            André-Charles Boulle and Thomas Chippendale made their mark, crafting pieces that were as much art as they were
            furniture.
          </p>
					<p class="desc">
            During the Renaissance, Europe witnessed a dramatic transformation in furniture design. The era was marked by ornate
            detailing, with furniture becoming a symbol of status and wealth. It was during this period that artisans such as
            André-Charles Boulle and Thomas Chippendale made their mark, crafting pieces that were as much art as they were
            furniture.
          </p>
				</div>
			</div>
		</section>
		<section class="section section03">
			<div class="title-box">
				<strong class="title">Parallax - Scroll And Opacity Effect</strong>
				<p class="title-desc">Direction - Vertical : Reverse-true, Reverse-false</p>
			</div>
			<div class="siwper swiper-card">
				<ul class="swiper-wrapper">
					<li class="swiper-slide">
						<div class="card-area jarallax">
							<img src="../../img/parallax-img/interior-full-1.jpg" alt="" class="jarallax-img">
						</div>
						<div class="text_wrap">
							<p class="desc">During the Renaissance, Europe witnessed a dramatic transformation in furniture design. 
                The era was marked by ornate detailing, 
                with furniture becoming a symbol of status and wealth. 
                It was during this period that artisans such as André-Charles Boulle and Thomas Chippendale made their mark, 
                crafting pieces that were as much art as they were furniture.
              </p>
						</div>
					</li>
					<li class="swiper-slide">
						<div class="card-area jarallax">
							<img src="../../img/parallax-img/interior-full-2.jpg" alt="" class="jarallax-img">
						</div>
						<div class="text_wrap">
							<p class="desc">During the Renaissance, Europe witnessed a dramatic transformation in furniture design. 
                The era was marked by ornate detailing, with furniture becoming a symbol of status and wealth.</p>
						</div>
					</li>
					<li class="swiper-slide">
						<div class="card-area jarallax">
							<img src="../../img/parallax-img/interior-full-3.jpg" alt="" class="jarallax-img">
						</div>
						<div class="text_wrap">
							<p class="desc">During the Renaissance, Europe witnessed a dramatic transformation in furniture design. 
                The era was marked by ornate detailing, with furniture becoming a symbol of status and wealth. 
                It was during this period that artisans such as André-Charles Boulle and Thomas Chippendale made their mark, 
                crafting pieces that were as much art as they were furniture.</p>
						</div>
					</li>
					<li class="swiper-slide">
						<div class="card-area jarallax">
							<img src="../../img/parallax-img/interior-full-4.jpg" alt="" class="jarallax-img">
						</div>
						<div class="text_wrap">
							<p class="desc">During the Renaissance, Europe witnessed a dramatic transformation in furniture design.
                The era was marked by ornate detailing, with furniture becoming a symbol of status and wealth.
              </p>
						</div>
					</li>
					<li class="swiper-slide">
						<div class="card-area jarallax">
							<img src="../../img/parallax-img/interior-full-5.jpg" alt="" class="jarallax-img">
						</div>
						<div class="text_wrap">
							<p class="desc">During the Renaissance, Europe witnessed a dramatic transformation in furniture design.
              The era was marked by ornate detailing, with furniture becoming a symbol of status and wealth.</p>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="section section04">
			<strong class="title">Elements : Parallax Scroll Effect </strong>
			<div class="swiper swiper-banner">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-1.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-2.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-3.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-4.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-5.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-6.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-7.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-8.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.5">
							<img src="../../img/parallax-img/interior-9.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-10.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-11.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-12.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.5">
							<img src="../../img/parallax-img/interior-13.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-14.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-1.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-2.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.5">
							<img src="../../img/parallax-img/interior-3.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-4.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-5.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.5">
							<img src="../../img/parallax-img/interior-6.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-7.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-8.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-9.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-10.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-11.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.5">
							<img src="../../img/parallax-img/interior-12.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-13.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-14.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.5">
							<img src="../../img/parallax-img/interior-1.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.6">
							<img src="../../img/parallax-img/interior-2.jpg" alt="" class="jarallax-img">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="img-box jarallax" data-speed="0.8">
							<img src="../../img/parallax-img/interior-3.jpg" alt="" class="jarallax-img">
						</div>
						<div class="img-box jarallax" data-speed="0.7">
							<img src="../../img/parallax-img/interior-4.jpg" alt="" class="jarallax-img">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section05">
			<strong class="title">Parallax - Scale</strong>
			<div class="content_box">
				<div class="jarallax" data-speed="0.3">
					<img src="../../img/parallax-img/interior-full-bg2.png" alt="" class="jarallax-img">
				</div>
			</div>
		</section>
		<div class="footer">
			<p class="desc">During the Renaissance, Europe witnessed a dramatic transformation in furniture design.
        The era was marked by ornate detailing, with furniture becoming a symbol of status and wealth.
        During the Renaissance, Europe witnessed a dramatic transformation in furniture design.
      </p>
		</div>
	</div>
	<!--E: FOOTER -->
	<!-- S: Javascript -->
	<script src="../../js/libs/vendor.min.js"></script>
	<script src="../../js/apps/00_common.js"></script>
	<script src="../../js/libs/swiper.min.js"></script>
	<script src="../../js/libs/jarallax.js"></script>
	<script src="../../js/apps/interaction/parallax/parallax_jarallax.js"></script>
	<!-- E: Javascript -->



</body></html>