<%_ let footer = locals.footer? locals.footer : {} _%>
<%_if (footer.type=='01') {_%><footer class="footer">
<p class="footer-desc">&copy;<%=footer.year%>. YOORA All Rights Reserved.</p>
</footer><%_}_%>