<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<%_if(locals.listTitle){_%><meta name="list" content="<%=listTitle%>"><%_}_%>
	<title><%=locals.title%></title>

	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
	<!-- // Icon & Favicon -->

	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/components.css">
</head>