@import '../mixins/_mixins.scss';
.wrap-parallax-2 {
  height:100%;
  min-height:100%;
  background-color:#f3f1f5;
  font-size:14px;

  .wrap {
    height:100%;
  }
  .section { 
    height:100%;
    min-height:100%;
  }
  .section01 {
    position:relative;
    background-color:#000;

    .jarallax {
      z-index:0;
      position:relative;
      width:100%;
      height:100%;
    }
    &::after {
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background-color:rgba(0,0,0,0.2);
      content:'';
    }
    .title-box {
      z-index:10;
      @include set-center(absolute);
      width:100%;
      font-size:4em;
      text-align:center;
      text-shadow:2px 2px 10px #000;
      color:#dfd9d0;

      .title-desc {
        margin-top:20px;
        font-size:0.7em;
      }
    }
  }
  .section02 {
    @include flexbox();
    @include justify-content(center);
    padding:10% 0;
    background-color:#d6cec1;
    box-sizing:border-box;

    .box {
      @include flexbox();
      width:94%;
      box-sizing:border-box;

      .swiper {
        overflow:hidden;
        width:100%;
        height:100%;
        padding:15px;
        box-sizing:border-box;
      }
      .swiper-slide {
        overflow:hidden;
        position:relative;
        border-radius:10px;
        text-align:center;
        box-shadow:3px 3px 14px #000;

        .title {
          z-index:10;
          @include set-center(absolute);
          font-size:2.3em;
          color:#f5bc66;
          text-shadow:1px 1px 4px #000;
        }
        .img-box {
          width:100%;
          height:100%;
        }
        &::after {
          position:absolute;
          left:0;
          top:0;
          right:0;
          bottom:0;
          background-color:rgba(0,0,0, 0.4);
          content:'';
        }
      }
      .text-wrap {
        @include flexbox();
        @include flex-direction(column);
        overflow-y:auto;
        width:100%;
        max-height:100%;
        height:100%;
        padding:20px 20px 20px 3%;
        box-sizing:border-box;

        .title {
          display:block;
          width:100%;
          font-size:2.6em;
          line-height:1.5;
          color:#1b1b1b;
          word-break:keep-all;
          overflow-wrap:break-word;
        }
        .sub-title {
          display:block;
          margin-top:20px;
          font-size:1.5em;
          line-height:1.5;
          font-weight:bold;
          color:#2d2d2d;
          word-break:keep-all;
          overflow-wrap:break-word;
        }
        .desc {
          margin-top:15px;
          font-size:1.1em;
          line-height:28px;
          color:#000;
          word-break:keep-all;
          overflow-wrap:break-word;

          & + .desc {
            margin-top:15px;
          }
        }
      }
    }
  }
  .section03 {
    @include flexbox();
    @include justify-content(center);
    @include flex-direction(column);
    overflow:hidden;
    min-height:unset;
    max-height:1080px;
    width:100%;
    height:auto;
    padding:100px 0 0;
    background:#2d2d2d;
    box-sizing:border-box;

    .title {
      display:block;
      position:relative;
      padding-left:40px;
      margin-left:50px;
      font-size:4em;
      line-height:1.5;
      word-break:keep-all;
      overflow-wrap:break-word;
      color:#dfd9d0;
      text-shadow:0 0 2px #000;
      box-sizing:border-box;

      &::after {
        position:absolute;
        left:0;
        top:20px;
        width:8px;
        height:50px;
        background-color:#8a6d6d;
        content:'';
      }
    }
    .title-desc {
      display:block;
      position:relative;
      margin-top:10px;
      margin-left:50px;
      padding-left:40px;
      font-size:1.2em;
      line-height:1.5;
      word-break:keep-all;
      overflow-wrap:break-word;
      color:#dfd9d0;
      text-shadow:0 0 2px #000;
      box-sizing:border-box;
    }
    .swiper-card {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      overflow:hidden;
      position:relative;
      width:100%;
      height:650px;
      margin-top:40px;
      transition:transform 0.3s ease;
      background-color:#000;
    }
    .card-area {
      position:relative;
      width:100%;
      height:100%;

      &::after {
        position:absolute;
        right:0;
        top:0;
        left:0;
        bottom:0;
        background-color:rgba(0,0,0, 0.3);
        content:'';
      }
    }
    .swiper-slide {
      position:relative;

      &:not(.swiper-slide-active) {
        .text_wrap {
          opacity:0;
          transition:0.4s;
        }
      }
      .text_wrap {
        @include set-center(absolute);
      }
      .desc {
        transition:opacity 0.4s;
        font-size:1.1em;
        white-space:pre-line;
        text-align:center;
        word-break:keep-all;
        overflow-wrap:break-word;
        color:#fff;
        text-shadow:1px 1px 3px #000;
      }
      &.swiper-slide-active {
        .text_wrap {
          opacity:1;
          transition:opacity 1s 0.7s;
        }
      }
    }
  }
  .section04 {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    width:100%;
    height:auto;
    min-height:auto;
    padding:100px 0 0;
    box-sizing:border-box;

    .title {
      display:block;
      position:relative;
      width:calc(100% - 50px);
      padding-left:40px;
      margin-left:50px;
      font-size:4em;
      line-height:1.5;
      text-align:left;
      word-break:keep-all;
      overflow-wrap:break-word;
      color:#2d2d2d;
      text-shadow:1px 1px 2px #000;
      box-sizing:border-box;

       &::after {
         position:absolute;
         left:0;
         top:20px;
         height:50px;
         width:8px;
         background-color:#1c245b;
         content:'';
      }
    }
    .swiper {
      position:relative;
      overflow:hidden;
      width:calc(100% - 100px);
      height:600px;
      min-height:600px;
      margin-top:30px;
      padding:0 10px;
      transition:transform 0.3s ease;
      box-sizing:border-box;
    }
    .swiper-slide {
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      position:relative;
      width:25%;
      padding:10px 0;
      text-align:center;
      box-sizing:border-box;

      .img-box {
        overflow:hidden;
        position:relative;
        width:100%;
        height:calc(50% - 10px);
        border-radius:4px;
        box-shadow:0 0 10px 0 #000;

        &::after {
          position:absolute;
          left:0;
          top:0;
          right:0;
          bottom:0;
          transition:0.3s;
          background-color:rgba(0,0,0, 0.2);
          content:'';
        }
        &:nth-child(2n){
          margin-top:20px;
        }
        .jarallax-container {
          transition:0.5s;
          transform:scale(1);
        }
        &:hover {
          .jarallax-container {
            transform:scale(1.1);
            transition:0.5s;
          }
          &::after {
            background-color:rgba(0,0,0,0);
          }
        }
      }
    }
  }
  .section05 {
    position:relative;
    width:100%;
    padding:30px 20px 0;
    box-sizing:border-box;

    .content_box {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      position:relative;
      width:100%;
      height:100%;
    }
    .jarallax {
      position: relative;
      width:100%;
      height:100%;
    }
    .title {
      display:block;
      z-index:1;
      @include set-center(absolute);
      width:100%;
      font-size:4.5em;
      text-align:center;
      color:#2d2d2d;
      text-shadow:2px 2px 3px #fff;
    }
  }
  .jarallax .jarallax-img {
    z-index:-1;
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
  }
  .footer {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height:400px;
    background-color:#2d2d2d;

    .desc {
      white-space:pre-line;
      color:#fff;
      text-align:center;
    }

  }
}
@media screen and (max-width:1024px) {
  .wrap-parallax-2 {
    .section04 {
      .swiper {
        .swiper-slide {
          .img-box {
            &::after {
              display:none;
            }
            .jarallax-container {
              transform:scale(1);
            }
            &:hover {
              .jarallax-container{
                transform:scale(1);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:767px) {
  body.wrap-parallax-2 {
    font-size:10px;
  }
  .wrap-parallax-2 {
    .section01 {
      .title {
        font-size:1.4em;
      }
    }
    .section02 {
      padding:50px 20px;
  
      .box {
        @include flex-direction(column);
        width:100%;
  
        .swiper {
          overflow:hidden;
          width:100%;
          height:100%;
          border-radius:10px;
        }
        .swiper-slide {
          .title {
            display:block;
            width:100%;
          }
        }
        .text-wrap {
          padding-left:10px;
          margin-top:30px;
  
          .title {
            font-size:2.1em;
          }
          .sub-title {
            font-size:15px;
          }
          .desc {
            margin-top:12px;
            font-size:13px;
  
            & + .desc {
              margin-top:8px;
            }
          }
        }
      }
    }
    .section03 {
      max-height:700px;
      padding:50px 0 0;
  
      .title {
        margin-left:20px;
        padding-left:30px;
        font-size:3em;
  
        &::after {
          width:7px;
          top:50%;
          transform:translateY(-50%);
        }
      }
      .title-desc {
        padding-left:30px;
        margin-left:20px;
        font-size:14px;
      }
      .swiper-card {
        height:450px;
        margin-top:30px;
      }
      .swiper-slide {
        .text_wrap {
          width:100%;
          padding:0 20px;
          box-sizing:border-box;
        }
        .desc {
          display:block;
          width:100%;
          white-space:unset;
          font-size:14px;
          line-height:1.5;
        }
      }
    }
    .section04 {
      min-height:600px;
      padding:50px 0;
  
      .title {
        margin-left:20px;
        padding-left:30px;
        font-size:3em;
  
        &::after {
          width:7px;
          top:50%;
          transform:translateY(-50%);
        }
      }
      .swiper {
        width:calc(100% - 40px);
        max-height:500px;
      }
      .swiper-slide {
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        position:relative;
        width:50%;
        text-align:center;
      }
    }
    .section05 {
      padding:0;
  
      .title {
        font-size:4em;
      }
    }
    .footer {
      padding:0 20px;
      
      .desc {
        font-size:13px;
        white-space:unset;
      }
    }
  }
}